.reset-btn {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1000;

  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

/* Icono */
.reset-btn i {
  font-size: 1.4rem;
}

/* Modo oscuro */
.reset-btn.dark {
  background-color: #f1f1f1;
  color: #2b2b2b;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}

/* Modo claro */
.reset-btn.light {
  background-color: #2b2b2b;
  color: #f1f1f1;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}

.reset-btn:hover {
  transform: scale(1.1);
}
